extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
    nav
        a(href="/login")
            img#logo(src="assets/image/favicon.png", alt="face logo")
        .navlink
            a(href="/logout") Log out
    div#error
    section#makeChar
        form#charForm(class="charForm", name="charForm", action="/creater", method="POST")
            label(for="name") Name:
            input#charName(type="text", name="name", placeholder="Character Name")
            
            label(for="age") Age:
            input#charAge(type="text", name="age", placeholder="Character Age")
            
            label(for="level") Level:
            input#charHP(type="text", name="level", placeholder="Character Level")
            
            label(for="HP") HP:
            input#charHP(type="text", name="HP", placeholder="Character HP")
            
            label(for="AC") AC:
            input#charHP(type="text", maxlength="2", name="AC", placeholder="Character AC")
            
            label(for="str") Strength:
            input.charAS(type="text", maxlength="2", name="str")
            label(for="dex") Dexterity:
            input.charAS(type="text", maxlength="2", name="dex")
            label(for="con") Constitution:
            input.charAS(type="text", maxlength="2", name="con")
            label(for="intel") Intelligence:
            input.charAS(type="text", maxlength="2", name="intel")
            label(for="wis") Wisdom:
            input.charAS(type="text", maxlength="2", name="wis")
            label(for="cha") Charisma:
            input.charAS(type="text", maxlength="2", name="cha")
            
            label(for="inventory") Inventory:
            textarea#charDesc(name="inventory", placeholder="Inventory")
            
            label(for="desc") Description:
            textarea#charDesc(name="desc", placeholder="Character Description")
            
            a#makeCharSubmit(class="makeCharSubmit", href="#") Make Character
        section#characters
            if !chars || chars.length == 0
                div.char
                    h3.noChar No Character Made Yet
            else
                each person in chars
                    div.char
                        h4.charLevel Level: #{person.level}
                        h3.charName #{person.name}
                        h4.charAge Age: #{person.age}
                        h4.charHP HP: #{person.hp}
                        h4.charAC AC: #{person.ac}
                        each score in person.abilityScores
                            h4.charScore= score
                        p.CharInv Inventory: #{person.inventory}
                        p.charDesc Description: #{person.description}
            
block scripts
    script(src="/assets/creation.js")
                